.comments-block {
  margin-top: 2rem;
  padding: 1.5rem;
  background: #f9f9f9;
  border-radius: 8px;

  form {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    div {
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: 500px;
      margin-bottom: 1rem;
    }
  }

  .reply-btn {
    border: none;
  }
}

.comments-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comment {
  margin-bottom: 1rem;
  padding: 1rem;
  background: #fff;
  border-left: 4px solid var(----roast-new-blue);
  border-radius: 4px;
  min-width: 100%;
  max-width: fit-content;
}

.comment-replies {
  list-style: none;
  padding-left: 1rem;
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;

  .comment {
    min-width: calc(100% - 1rem);
  }
}

.comment-reply {
  margin-top: 0.5rem;
  padding: 0.75rem;
  background: #eef2f7;
  border-left: 3px solid var(--roast-new-blue);
  border-radius: 4px;
}

textarea {
  height: 100px;
  border: 3px solid var(--roast-new-blue);
}
