main {
  margin: 0;
}

.featured-image {
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

iframe {
  max-width: 100%;
  max-width: -webkit-fill-available;
  max-height: -webkit-fill-available;
}

figure.wp-block-embed:not(:has(iframe)) {
  display: none;
}

section {
  margin-top: 2rem;
  &.post-title {
    background-color: var(--roast-new-blue);
    margin: 0;
    padding: 1rem;
    h2,
    p {
      color: white;
      text-align: center;
    }

    iframe {
      max-width: 100%;
      max-width: -webkit-fill-available;
      max-height: -webkit-fill-available;
    }
  }

  &.roast-by-tag {
    ul {
      display: flex;
      flex-direction: row;
      gap: 1rem;
      justify-content: flex-start;
      padding: 0;
      overflow-x: auto;

      li {
        list-style: none;
        display: inline-block;
        flex: 0 0 auto;
        align-content: end;
        max-width: 70%;

        @media (min-width: 1200px) {
          flex: 33%;
          max-width: calc(33% - 1rem);
        }
        @media (min-width: 1400px) {
          flex: 33%;
          max-width: calc(33% - 1rem);
        }

        img {
          aspect-ratio: 4 / 3;
        }
      }

      h3 {
        font-size: 1.5rem;
      }
    }
  }
}

h2 {
  text-align: center;
  font-size: 2rem;
  margin: 0;
  padding: 0;

  &.wp-block-heading {
    font-size: 2rem;
    text-align: left;
  }

  @media (min-width: 768px) {
    font-size: 3rem;
  }
}

h2,
h3 {
  text-decoration: underline;
  text-decoration-color: var(--roast-new-blue);
}

h3 {
  font-family: "Loved by the King", sans-serif;
  font-size: 2rem;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-color: var(--roast-new-blue);
  text-align: left;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1000px;
  margin: 0 1rem;

  padding-bottom: 100px;
  margin-bottom: 100px;

  figure {
    margin: 0 auto;
    text-align: center;
  }

  img {
    width: 100%;
    height: auto;
  }

  figcaption {
    font-size: 0.8em;
    color: #666;
    text-align: center;
  }

  @media (min-width: 768px) {
    margin: 0 auto;
  }
}

.image-container {
  position: relative;
  display: inline-block;
}

.featured-image {
  display: block;
  width: 100%;
  height: auto;
}

.copyright-overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  color: #000;
  font-size: 0.8rem;
  text-align: center;
  padding: 1rem 0;
}

.wp-block-gallery {
  display: flex;

  .wp-block-image.size-large {
    width: calc(50% - var(--wp--style--unstable-gallery-gap, 16px) * 0.5);
  }
}

button {
  &.skip {
    margin: 20px auto 0;
    font-size: 1.5rem;
  }
}
