ul {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  gap: 1rem;
  margin: 0;
  padding: 0;
  overflow-x: auto;
  white-space: nowrap;
  flex-direction: row;
  max-width: 100%;

  @media (min-width: 1200px) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  li {
    list-style: none;
    display: inline-block;
    flex: 0 0 auto;
    font-family: "Loved by the King", sans-serif;
    text-transform: uppercase;

    @media (min-width: 1200px) {
      flex: 33%;
      max-width: calc(33% - 1rem);
    }
    @media (min-width: 1400px) {
      flex: 25%;
      max-width: calc(25% - 1rem);
    }
  }

  img {
    width: 100%;
    max-width: 400px;
    height: auto;
    aspect-ratio: 12 / 9;
  }

  a {
    text-decoration: none;
    color: #333;
    font-size: 1.2rem;
    display: block;
    text-align: center;
    letter-spacing: 2px;
  }

  p {
    color: #666;
    padding: 0 1rem;
  }
}

.custom-select {
  position: relative;
  display: inline-block;
}

.dropdown-btn {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  width: 200px;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 200px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  max-height: 200px;
  overflow-y: auto;
  padding: 5px 0;
}

.dropdown-item {
  padding: 8px 16px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.dropdown-item input {
  margin-right: 8px;
}

.hidden-checkbox {
  display: none;
}

/* Add some styles for when the checkbox is checked */
.dropdown-item input:checked + span {
  font-weight: bold;
  color: green;
}

.dropdown-btn:focus {
  outline: none;
}

/* Style the dropdown items when the dropdown is open */
.dropdown-content.open {
  display: block;
}
