section {
  margin: 1rem 1rem 0 1rem;

  h2 {
    margin-bottom: 0;
  }

  ul {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    gap: 1rem;
    margin: 0;
    padding: 0;
    overflow-x: auto;
    white-space: nowrap;
    flex-direction: row;
    max-width: 100%;

    @media (min-width: 1200px) {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }

    li {
      list-style: none;
      display: inline-block;
      flex: 0 0 auto;

      @media (min-width: 1200px) {
        flex: 33%;
        max-width: calc(33% - 1rem);
      }
      @media (min-width: 1400px) {
        flex: 25%;
        max-width: calc(25% - 1rem);
      }

      &.heading {
        font-family: "Loved by the King", sans-serif;
        text-transform: uppercase;

        .featured-image {
          height: 300px;
        }
      }
    }

    a {
      text-decoration: none;
      color: #333;
      font-size: 1.2rem;
      display: block;
      text-align: center;
      letter-spacing: 2px;
    }

    p {
      color: #666;
      padding: 0 1rem;
    }
  }
}

.custom-select {
  position: relative;
  display: inline-block;
}

.dropdown-btn {
  padding: 10px;
  background-color: var(--roast-new-blue);
  color: white;
  border: none;
  cursor: pointer;
  width: 200px;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 200px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  max-height: 200px;
  overflow-y: auto;
}

.dropdown-item {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.dropdown-item input {
  margin-right: 8px;
}

.hidden-checkbox {
  display: none;
}

.dropdown-item span {
  padding: 8px 16px;
  margin-left: 8px;
}

/* Add some styles for when the checkbox is checked */
.dropdown-item input:checked + span {
  font-weight: bold;
  background-color: var(--roast-new-blue);
  color: var(--roast-white);
  width: 100%;
  height: 100%;
}

.dropdown-btn:focus {
  outline: none;
}

/* Style the dropdown items when the dropdown is open */
.dropdown-content.open {
  display: block;
}
