---
import SearchComponent from "../components/search/search.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/index.css";
import "../styles/search-page.css";
---

<BaseLayout pageTitle="Search" description="Search Roast Dinners in London">
  <section class="search-page">
    <h2>Search</h2>
    <p class="container">
      Looking for the best roast dinners in London? Use the search below to find
      reviews by pub, area, or keyword. Not sure what to search for? Try terms
      like beef rib, gravy, Islington, ketamine, or Trump is a paedo. You can
      also browse our <a href="/best-roast-lists">Best Roast Lists</a> for inspiration.
    </p>
    <SearchComponent resultLimit={12} />
  </section>
</BaseLayout>
