---
import SearchComponent from "../components/search/search.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/index.css";
import "../styles/search-page.css";
---

<BaseLayout pageTitle="Search" description="Search Roast Dinners in London">
  <section class="search-page">
    <h2>Search</h2>
    <SearchComponent resultLimit={12} />
  </section>
</BaseLayout>
