---
export const prerender = true;

import { SignIn as ClerkSignIn } from "@clerk/astro/components";
import BaseLayout from "../layouts/BaseLayout.astro";
import "./sign-in.css";
---

<BaseLayout
  pageTitle="Sign In"
  description="Sign in to your Roast Dinners in London account to manage your wishlist and roast list."
  noindex={true}
>
  <div class="sign-in-container">
    <ClerkSignIn />
  </div>
</BaseLayout>
