---
import { Image } from "astro:assets";
import logo1 from "../../images/logo-1.png";
import "./header.css";
---

<header>
  <div class="nav-container">
    <a class="logo" href="/"
      ><Image src={logo1} alt="" width="100" height="100" /></a
    >
    <h1 class="sr-only">Roast Dinners in London</h1>
    <div class="title">
      <a href="/">Roast Dinners in London</a>
    </div>
    <button id="nav-toggle" aria-label="Toggle Navigation Menu"
      ><span></span></button
    >

    <nav id="nav-menu">
      <a href="/league-of-roasts">League Of Roasts</a>
      <a href="/best-roasts-in">Best Roasts In...</a>
      <a href="/roastatistics">Roastatistics</a>
      <a href="/maps">Maps</a>
      <a href="/to-do-list">To-Do List</a>
      <a href="/about">About</a>
    </nav>
  </div>
  <script>
    document
      .getElementById("nav-toggle")
      ?.addEventListener("click", function () {
        this.classList.toggle("open");
        let menu = document.getElementById("nav-menu");
        if (!menu) return;
        if (menu.style.display === "block") {
          menu.style.display = "none";
        } else {
          menu.style.display = "block";
        }
      });
  </script>
</header>
