---
const today = new Date();
import "./footer.css";
import SocialLinks from "../SocialLinks.astro";
---

<footer>
  <SocialLinks className="socials footer-socials" />

  <a href="/search" class="footer-link">
    <i class="fas fa-search" aria-hidden="true"></i> Search This Gravy Glory Hole
  </a>

  &copy; {today.getFullYear()} Roast Dinners In London
</footer>
