footer {
  background-color: #333;
  color: white;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
  padding: 10px 0;
  font-family: "Loved by the King", sans-serif;
  font-size: 1.5em;
  display: flex;
  flex-direction: column;

  .footer-link {
    color: white;
    text-decoration: none;
    margin: 0 10px;
  }
}
