---
import Footer from "../components/footer/footer.astro";
import Header from "../components/header/header.astro";
const { pageTitle, description, opengraphImage } = Astro.props;
import "./layout.css";
import { SEO } from "astro-seo";
import logo1 from "../images/logo-1.png";

// import logo3 from "/images/logo-3.png";
---

<html lang="en">
  <head>
    <script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/collapse@3.x.x/dist/cdn.min.js"
    ></script>
    <link
      rel="preload"
      href="/fonts/LovedbytheKing-Regular.ttf"
      as="font"
      type="font/ttf"
      crossorigin="anonymous"
    />
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png" />
    <link rel="manifest" href="/favicon/site.webmanifest" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />
    <meta name="viewport" content="width=device-width" />
    <SEO
      title={pageTitle || "Roast Dinners In London"}
      description={description ||
        "Lord Gravy bringing you a guide to the best and worst roast dinners in London."}
      openGraph={{
        basic: {
          title: pageTitle || "Roast Dinners In London",
          type: "Article",
          image: opengraphImage || logo1,
        },
        optional: {
          description:
            description ||
            "Lord Gravy bringing you a guide to the best and worst roast dinners in London.",
          siteName: "Roast Dinners In London",
        },
      }}
    />
    <!-- Google tag (gtag.js) -->
    <script
      type="text/partytown"
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-1QE0C2RM9C"></script>
    <script type="text/partytown">
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-1QE0C2RM9C");
    </script>
  </head>
  <body>
    <div class="page-container">
      <Header />
      <main>
        <slot />
      </main>
      <Footer />
    </div>
  </body>
</html>
